@{
    ViewData["Title"] = "Hizmetler";
}

<h2>Hizmetlerimiz</h2>
<h4 class="card-title">Saç Kesimi</h4>

<h4 class="card-title">Saç Boyama</h4
>
<h4 class="card-title">Saç Röfle (Işıklandırma)</h4>

<h4 class="card-title">Ombre / Balayage</h4>

<h4 class="card-title">Fön (Şekillendirme)</h4>

<h4 class="card-title">Maşa / Düzleştirme</h4>

<h4 class="card-title">Perma (Kalıcı Dalga)</h4>

<h4 class="card-title">Saç Dip Boyası</h4>

<h4 class="card-title">Saç Şekillendirme ve Topuz</h4>

<h4 class="card-title">Saç Renklendirme (Tonlama)</h4>

<h4 class="card-title">Düğün ve Özel Gün Saç Tasarım</h4>

