<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    .card {
        min-height: 400px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">
    <div class="row">
        <!-- Kart 1 -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="~/images/boyalısaçlariçinrenkkoruyucu.webp" class="img-fluid rounded shadow-lg" />
                <div class="card-body">
                    <h5 class="card-title">Boyalı Saçlar İçin Renk Koruyucu </h5>
                </div>
            </div>
        </div>

        <!-- Kart 2 -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="~/images/kolaykırılansaçlariçin.webp" class="img-fluid rounded shadow-lg" />
                <div class="card-body">
                    <h5 class="card-title">kolay Kırılan Saçlar İçin</h5>
                </div>
            </div>
        </div>

        <!-- Kart 3 -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="~/images/kretatin bakım.webp" class="img-fluid rounded shadow-lg" />
                <div class="card-body">
                    <h5 class="card-title">Kretatin Bakımı </h5>
                </div>
            </div>
        </div>

        <!-- Kart 4 -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="~/images/onarıcısaçkremi.jpg" class="img-fluid rounded shadow-lg" />
                <div class="card-body">
                    <h5 class="card-title">onarıcı Saç Kremi </h5>
                </div>
            </div>
        </div>

        <!-- Kart 5 -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="~/images/Özelhacimşampuanı.webp" class="img-fluid rounded shadow-lg" />
                <div class="card-body">
                    <h5 class="card-title">Özel Hacim Şampuanı</h5>
                </div>
            </div>
        </div>

        <!-- Kart 6 -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="~/images/renkkoruyucu.webp" class="img-fluid rounded shadow-lg" />
                <div class="card-body">
                    <h5 class="card-title">Renk Koruyucu</h5>
                </div>
            </div>
        </div>

        <!-- Kart 7 -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="~/images/uzunsaçlariçin.webp" class="img-fluid rounded shadow-lg" />
                <div class="card-body">
                    <h5 class="card-title">Uzun Saçlar İçin </h5>
                </div>
            </div>
        </div>

        <!-- Kart 8 -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="~/images/yıpranmışsaçlariçin.webp" class="img-fluid rounded shadow-lg" />
                <div class="card-body">
                    <h5 class="card-title">Yıpranmış Saçlar İçin</h5>
                </div>
            </div>
        </div>

       
    </div>
</div>
    </div>
</div>      
    </div>
</div>
