@{
    ViewData["Title"] = "Home Page";
}

<div class="tam-ekran-gorsel-kapsayici">
    <img src="~/images/logo.png" class="tam-ekran-gorsel" alt="Logo" />
</div>


<!-- Tıklanabilir kutucuklar için konteyner -->
<div class="kutucuklar-konteyner">
    <a href="/Yorumlar/Index" class="kutucuk">
        <div class="kutucuk-icerik">
            <i class="fas fa-home kutucuk-ikon"></i>
            <h3>YORUMLAR</h3>
        </div>
    </a>
    <a href="/Sikayetler/Index" class="kutucuk">
        <div class="kutucuk-icerik">
            <i class="fas fa-cogs kutucuk-ikon"></i>
            <h3>ŞİKAYETLER</h3>
        </div>
    </a>
    <a href="/Hizmetler/Index" class="kutucuk">
        <div class="kutucuk-icerik">
            <i class="fas fa-phone kutucuk-ikon"></i>
            <h3>HİZMETLERİMİZ</h3>
        </div>
    </a>
</div>

